a {
    text-decoration: none;
    color:rgb(191, 193, 196);
    font-weight: bold;
    font-family: Arial;
}
h2 {
    font-weight: bold;
    font-family: Arial;
    color:rgb(112, 112, 112);
}
p {
    font-weight: bold;
    font-family: Arial;
    color:rgb(112, 112, 112);
}